:root{
  --darkest-blue: #1f2235;
  --lightestcool: #E5F0ED;
  --lightcool: #B9CBC5;
  --green: #658074;
  --green-dark: #2C3B2C;
  --green-extra-dark: #0B1D0C;
  --green-shadow: rgba(59, 110, 79, 0.4);
  --header-hamburger-background : rgba(67, 112, 93, 0.76);
  --lightestwarm: #F6EDDF;
  --lightwarm: #FBD1A2;
  --midlightwarm: #DF8F56;
  --orange: #AF4608;
  --dark-orange: #85320A;
  --orange-shadow: rgba(184, 70, 17, 0.2);
  --darkest-orange: #330F0A;
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #658074;
  --error-message:  #AF4608;
  --toast-error: #AF4608;
  --toast-shadow:  #9c9c9ce3;
  --toast-success: #658074;
  --loader-color: #658074
}